<html>

<head>
    <title>Index</title>
</head>

<body>
    <h2>Welcome to api services</h2>

    <p>
        name <input type="text" id="txtname">
    </p>

    <p>
        age <input type="text" id="txtage">
    </p>

    <p>
        <input type="button" id="btnSend" value="Send">
    </p>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var params = {
                "Name":"nikhil",
                "age":30
            }
            $("#btnSend").click(function(){
                // $.post("http://localhost:3000/send",params, function( data ) {
                //     console.log(data); 
                // });

$.post("chrome-devtools://devtools/bundled/inspector.html?experiments=true&v8only=true&ws=127.0.0.1:9229/e82ee6c6-5bca-4515-9c81-8801acb3e08a",params, function( data ) {
                    console.log(data); 
                });
                
            });
        });
    </script>
</body>

</html>